* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  color: aliceblue;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.App-header {
  background: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-box {
  padding-bottom: 0.6rem;
}

.App-logo {
  position: absolute;
  top: 0;
  width: 5rem;
}

.heading {
  position: absolute;
  top: 8%;
}

.Main-Box {
  position: absolute;
  top: 25%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  box-sizing: border-box;
  width: 70%;
  height: auto;
}

.Main-Box::before {
  content: "";
  position: fixed;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(360deg, red, blue, purple, red);
  background-size: 400% 400%;
  z-index: -1;
  animation: border-glow 6s linear infinite;
}

/* Glow animation */
@keyframes border-glow {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.Main-Box::after {
  content: "";
  position: fixed;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(270deg, red, blue, purple, red);
  filter: blur(20px);
  z-index: -2;
  animation: border-glow 6s linear infinite;
}

/* The glowing border */
.Main-Box::before {
  content: "";
  position: fixed;
  inset: 0;
  padding: 4px;
  border-radius: 12px;
  background: linear-gradient(180deg, red, blue, purple, red);
  animation: spin 4s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}

/* Smooth rotation around the box */
@keyframes spin {
  0% {
    transform: skew()(0deg);
    overflow-block: hidden;
  }

  100% {
    transform: skew(360deg);
    overflow-block: hidden;
  }
}

.Input-Box {
  all: unset;
  width: 95%;
  box-sizing: border-box;
  background-color: aqua;
  color: black;
  outline: none;
  padding: 2rem;
  margin: 2rem;
  height: 10vh;
  border-radius: 1rem;
  box-decoration-break: slice;
}

.my-button {
  font-size: 1em;
  width: 9rem;
  margin: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: plum;
  cursor: pointer;
}

/* === Mobile Devices (up to 767px) === */
@media screen and (min-width:370px) and (max-width: 767px) {
  .App {
    width: 100%;
    padding: 0.5rem;
  }

  .App-logo {
    width: 3rem;
  }

  .button-box{
    margin-bottom: 1rem;
  }

  .heading {
    position: absolute;
    top: 6%;
    font-size: xx-large;
  }

  .Main-Box {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70vh;
    top: 15%;
    padding: 0.1rem;
  }

  .Input-Box {
    width: 90%;
    height: 2vh;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
  }

  .my-button {
    top: -5%;
    width: 6%;
    font-size: 0.3rem;
    flex-basis: 0.2em;
  }

  .button-box .my-button:nth-last-child(2) {
    width: 43%;
  }
}

/* === Tablets (768px to 1023px) === */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .App {
    width: 100%;
    padding: 1.5rem;
    margin: 1rem;
  }

  .heading   {
    top: 10%;
  }

  .Main-Box {
    top: 20%;
    padding-bottom: 0.5rem;
  }

  .Input-Box {
    height: 6vh;
    padding: 2rem;
  }

  .my-button {
    width: 20%;
    font-size: 1rem;
  }

  .button-box .my-button:nth-last-child(2) {
    width: 42%;
  }
}

/* === Laptops (1024px to 1439px) === */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .App {
    width: 80%;
    margin: auto;
    padding: auto;
  }

  .Main-Box {
    max-width: 80%;
    top: 18%;
    height: auto;
  }
  .heading {
    font-size: xx-large;
    top: 10%;
  }

  .Input-Box {
    height: 6vh;
    margin-bottom: 2%;
  }

  .my-button {
    width: 22%;
    font-size: 1rem;
  }

  .button-box .my-button:nth-last-child(2) {
    width: 46%;
  }
}

/* === Large Screens (1440px and up) === */
@media screen and (min-width: 1440px) {
  .App {
    width: 80%;
    margin: 0 auto;
  }

  .Main-Box {
    width: 60%;
    height: auto;
    top: 20%;
  }

  .my-button {
    width: 20%;
    font-size: 1rem;
  }

  .button-box .my-button:nth-last-child(2) {
    width: 42%;
  }
}